swagger: '2.0'
info:
  title: Auto Matching
  description: API description in Markdown.
  version: 1.0.0
host: 'localhost:5000'
schemes:
  - http
paths:
  /api/users/source-sites:
    get:
      summary: サイト一覧
      produces:
        - application/json
      responses:
        '200':
          description: 成功時のレスポンス
        '500':
          description: 失敗時のレスポンス
  /api/users/source-sites/{id}:
    put:
      summary: サイト情報更新
      produces:
          - application/json
      parameters:
        - name: "id"
          in: "path"
          type: integer
          required: true
        - in: body
          name: attributes
          description: サイト情報
          schema:
            type: object
            properties:
              id:
                type: integer
              key:
                type: string
              loginId:
                description: "ログインID"
                type: string
              loginPassword:
                description: "ログインパスワード"
                type: string
              activateFlag:
                description: "有効フラグ"
                type: boolean
      responses:
        '200':
          description: 成功時のレスポンス
        '500':
          description: 失敗時のレスポンス
  /api/users/posts/templates:
    get:
      summary: テンプレート一覧
      produces:
        - application/json
      responses:
        '200':
          description: 成功時のレスポンス
        '500':
          description: 失敗時のレスポンス    
    post:
      summary: 投稿テンプレート投稿
      produces:
        - application/json
      parameters:
        - in: body
          name: attributes
          description: テンプレート
          schema:
            type: object
            properties:
              title:
                type: string
                description: "タイトル"
              body:
                description: "本文"
                type: string
      responses:
        '200':
          description: 成功時のレスポンス
        '500':
          description: 失敗時のレスポンス
  /api/users/posts/templates/{id}:
    put:
      summary: テンプレート更新
      produces:
          - application/json
      parameters:
        - name: "id"
          in: "path"
          type: integer
          required: true
        - in: body
          name: attributes
          description: テンプレート
          schema:
            type: object
            properties:
              id:
                type: integer
              title:
                type: string
                description: "タイトル"
              body:
                description: "本文"
                type: string
      responses:
        '200':
          description: 成功時のレスポンス
        '500':
          description: 失敗時のレスポンス
    delete:
      summary: テンプレート削除
      produces:
          - application/json
      parameters:
        - name: "id"
          in: "path"
          type: integer
          required: true
      responses:
        '200':
          description: 成功時のレスポンス
        '500':
          description: 失敗時のレスポンス
  /api/users/posts/manual-posts:
    post:
      summary: 掲示板投稿
      produces:
        - application/json
      parameters:
        - in: body
          name: attributes
          description: 投稿サイト
          schema:
            type: object
            properties:
              id:
                type: integer
                description: "サイトID"
      responses:
        '200':
          description: 成功時のレスポンス
        '500':
          description: 失敗時のレスポンス
